/*------------------------------------*\
    $DOBIS-HEADER-BLOCKS.SCSS
\*------------------------------------*/
.form--header-blocks-dobis{
	.header-block-dobis{ padding:$base-spacing-unit $base-spacing-unit $base-spacing-unit $base-spacing-unit; border-top:solid #555 2px; }

	/*fieldset*/.header-block-dobis--main{ background:lighten($brand-color, 30%); margin-bottom:$base-spacing-unit; }
	/*fieldset*/.header-block-dobis--sub{ background:darken(#fff, 8%); }

	input,textarea{ @extend .scalable; }

	label { font-weight:600; }

	.input__help{
		@include font-size(12px);
		font-style:italic;
	}

}